<html>
    <head>
        <title>Admin Page</title>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <style>
            body{
                background-color: #2f2f2f;
                color: #ffffff;
                font-family: Arial, sans-serif;
            }
            .sidebar {
                width: 20%;
                float: left;
                padding: 20px;
                background-color: #3a3a3a;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        </style>
    </head>
    <body>
        
        <div class="sidebar">
            <h2>News</h2>
        </div>
        <div class="container">
            {% if admin_valid %}
                <h1>Admin Dashboard</h1>
                <p>Welcome to the admin dashboard!</p>
                <!-- Add dashboard content here -->
                 <p>{{message}}</p>
                 <p>{{prompt_table}}</p>
            {% else %}
                <h1>Admin Sign in</h1>
                <form method="post" action="/admin">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit">Sign In</button>
                </form>
            {% endif %}
        </div>
    </body>
</html>