<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <style>
        body{
            background-color: #2f2f2f;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/signin">Sign In</a>
            <a href="/register">Register</a>
            <a href="/admin">Admin</a>
            <a href="https://rodrigomv29.github.io/">About Rodrigo</a>
        </div>
    </nav>
    <h1>Register</h1>
    <p>Register an account with us!</p>
    <p>register page is under construction</p>

    <form method="post">
        <label for="full-name"><input type="text" name="full-name">Full Name</label>
        <label for="birthday"><input type="date" name="birthday">Date of Birth</label>
        <label for="pass-word"><input type="password" name="pass-word">Password</label>
        <label for="pass-word"><input type="password" name="pass-word-2">Reenter password</label>
        <button type="submit">Register</button>
        <p>Already have an account <a href="/signin">Sign in!</a></p>
    </form>
    <span>Last Updated: </span>
    <p>{{error}}</p>
    <!--
    <form action='{{url_for("init_db")}}' method="post"><button>test</button></form>
    -->
</body>
</html>