<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <style>
        body{
            background-color: #2f2f2f;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Register</h1>
    <p>Register an account with us!</p>

    <form method="post">
        <label for="user-name"><input type="text" name="user-name">Username</label>
        <label for="pass-word"><input type="password" name="pass-word">Password</label>
        <label for="pass-word"><input type="password" name="pass-word-2">Reenter password</label>
        <label for="birthday"><input type="date" name="birthday">birthday</label>
        <button type="submit">Register</button>
        <p>Already have an account <a href="/signin">Sign in!</a></p>
    </form>
    <span>Last Updated: </span>
    
</body>
</html>