<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <style>
        body{
            background-color: #2f2f2f;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }
        input, button {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Sign in Page</h1>
    <p>Sign in</p>
    <form method="post">
        <input type="text" name="user-name">user-name
        <input type="password" name="password" id="password">Password
        <button type="submit">Sign in</button>
        <button>Register</button>

    </form>
    <span>Last Updated: </span>
    
</body>
</html>